@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playwrite+BE+VLG:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: Poppins, sans-serif;
    margin:0px;
    padding: 0px;
}
.section{
    margin: 50px;
    padding: 50px;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.underline{
    width: 100%;
    background-color: #20aaaf;
    padding:5px 10px;
    margin:10px -10px;
}
.job-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 200px;
    background-color: azure;
    padding: 10px;
    border: 1px solid gray;
}
.image-container{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
img{
    width: auto;
    height: 200%;
    margin: -80px -20px;
}
.profile-name{
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
}
.profile-title{
    font-size: 18px;
    font-weight: 600;
    margin: 5px;
    color: #3678c4;
}
.profile-description{
    font-family: 'Edu AU VIC WA NT Hand', sans-serif;
    text-align: center;
    margin: 10px 40px;
    font-size: 16px;
    font-weight: 400;
}
.left,.right,.random{
    border-style: none;
    font-size: 20px;
    background-color: azure;
    margin: 0px 5px;
}
.random{
    border: 1px solid #3678c4;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
}